__pycache__/
*.pyc
*.pyo

data/
wandb/
weights/

.env

*.egg-info/
dist/
build/
*.egg

optuna_study.db

report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz
report/*.fls
report/*.fdb_latexmk

.venv/
venv/
